body {
  font-family: "Inter", sans-serif;
  background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  border: 1px solid red;
  width: 360px;
  margin: auto;
}

#profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 8px;
}

#profile p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  font-style: normal;
}

#profile img {
  width: 112px;
}

.botao_dark {
  width: 64px;
  height: 24px;
  border-radius: 30px;
}
